@charset "UTF-8";

 * {
	 font-weight: normal;
 }

/*.mypage_flex {*/
/*  display: flex; 横並び*/
/*  align-items: flex-end;*/
/*}*/

/*.mypage_grid {*/
/*	display: grid;*/
/*	font-size: 22px;*/
/*}*/

/*.mypage_grid h3 {*/
/*	font-size: 20px;*/
/*	font-weight: normal;*/
/*	text-indent: 2rem;*/
/*	border-top:1px solid #666;*/
/*}*/

input{
/*	text-indent: 1em;*/
	text-align: center;
}
.mypage_tabletext {
	font-size: 20px;
}

/*.mypage_tabletext table {*/
/*	border-color: #4c84e8;*/
/*	width: 480px;*/
/*	height: 320px;*/
/*}*/

.portrait_image {
  width: 240px;
  height: 320px; /*画像サイズ指定*/
/*  border-radius: 50%;*/
}

/*.valign {*/
/*	vertical-align: top;*/
/*}*/

.mypage_area{
  width:100%;
  max-width:1100px;
  background:#fff;
  border:2px solid #444;
/*  border-radius: 14px;*/
/*  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);*/
}

.mypage_header{
  background:#4c84e8;
  color:#fff;
  padding:12px 18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.mypage_header h3{
  font-size:18px;
  font-weight:normal;
}

.mypage_form {
	width: fit-content;
	margin: auto;
	border: 1px solid #333;
	background: #e3f5ff;
	
}

.breadcrumb-001 {
    display: flex;
    gap: 0 22px;
    list-style: none;
    padding: 0;
    font-size: .9em;
}

.breadcrumb-001 li {
    display: flex;
    align-items: center;
}

.breadcrumb-001 li:first-child::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20ZM11 13V19H13V13H11Z' fill='%23505258'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

.breadcrumb-001 li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #505258;
    border-right: 1px solid #505258;
    content: '';
}

.breadcrumb-001 a {
    color: #505258;
    text-decoration: none;
}



/*.text {*/
/*  margin: 0 0 0 20px;*/
/*  padding: 0;*/
/*}*/